

/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


body{
  background-image: url(Images/pinkdust.png);
  color: #000305;
  font-size:87.5%;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: left;
}
/* here i have made the body (entire screen) an image which is a subtile image i obtained online the link to it it in the html */

a{
  text-decoration: none;
}
/* This was used to remove the text decoraton on a link which is a blue font and an underline */
a:link, a:visited{
  color:#7D1935;
}

a:hover, a:active{
  background-color:#7D1935;
  color: #FFF;
  border-radius: 5px;
  text-decoration: bold;
}
/* the border-radius gives the corners of the object a curve with the radius of 5 pixels*/


.body{
  margin:0 auto;
  width:70%;
  clear:both;
  
}
/* the body will only take up 70% of the screen leaving a gap on the left and right this is a very mainstream design as it ruduces cluttering of the page */
.mainHeader img{
  width: 60%;
  height:250px;
  margin: 2% 0;
  border-radius: 4%;
  border-color: #FFF;
}
/* this was used to set the width and style of the image above the navigation */
.mainHeader nav{
  background-color: #F5F3EE;
  height: 40px;
  border-radius: 5px;
  
}

.mainHeader nav ul{
  list-style: none;
  margin: 0 auto;
  float:left;
  display:inline;
}
/* the top and bottom margin is 0 and the left and right is done automatically for better respociveness */
.mainHeader nav ul li{
  float:left;
  display:inline;

}
.mainHeader nav a:visited{
  color:#999;
  display: inline-block;
  padding: 10px 20px;
  height: 20px;
}
/* this was used to set the colour of the links visited to a grey but only the text */
.mainHeader nav a:link{
  display: inline-block;
  padding: 10px 20px;
  height: 20px;
  color: #000;
  
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited{
  background-color: #7D1935;
  text-shadow: none;
  color: #FFF;
  
}
/* this is to set the background colour of active and any link you hover over to a burgendy */
.mainHeader nav ul li a{
  border-radius: 5px;
  float:left;
}

.mainContent {
  border-radius: 5px;
  line-height: 25px;
  
}

.content{
  width: 70%;
  float:left;
 
}
/* this sets the content to 70% of the body */
.contentFull{
  width: 100%;
  float:left;
}
/* This was for the comparison page as i wanted colums and a full text section so had to have two different defintions for content */
.topcontent{
  background-color: #F5F3EE;
  border-radius: 5px;
  padding:3% 5%;
  margin-top: 2%;
  height:auto;
}

.topcontentc{
  background-color: #F5F3EE;
  border-radius: 5px;
  padding:3% 5%;
  margin-top: 2%;
  height:auto;
  float:left;
}

.topContentc, .column{
  width: 25%;
  float:left;
  padding:4%

}
.bottomcontent{
  background-color: #F5F3EE;
  border-radius: 5px;
  padding:3% 5%;
  margin-top: 2%;
}

.post-info{
  font-style: italic;
  font-size:85%;
  color: #999;
}
/* this is the small bit of text under the title of each piece of content, on mobile this is not displayed */
.top-sidebar{
  width: 21%;
  float:left;
  color:#555;
  background-color: #F5F3EE;
  border-radius: 5px;
  margin: 2% 0 2% 3%;
  padding: 2% 3%;
}

.top-sidebar img{
  width:100%;
  height:auto;
}

/*this sets the image in the sidebar to 100% in height*/
.middle-sidebar{
  width: 21%;
  float:left;
  color:#555;
  background-color: #F5F3EE;
  border-radius: 5px;
  margin: 2% 0 2% 3%;
  padding: 2% 3%;
}

.middle-sidebar img{
  width:100%;
  height:auto;
}

.middle-sidebar audio{
  width:100%;
  height:auto;
}

.bottom-sidebar{
  width: 21%;
  float:left;
  color:#555;
  background-color: #F5F3EE;
  border-radius: 5px;
  margin: 2% 0 2% 3%;
  padding: 2% 3%;
}
.bottom-sidebar img{
  width:100%;
  height:auto;
}

.bottom-sidebar video{
  width:100%;
  height:100%;
}
.mainFooter{
  width:100%;
  height: 90px;
  float:left;
  border-radius: 5px;
  background-color: #F5F3EE;
  margin: 2% 0;
}

.mainFooter p{
  width:92%;
  margin: 10px auto;
  color:#000;
  float:left;
}

.mainFooter input{
  width:100px; 
  height:10px;
}
/* the media queary is here to change the nav bar mainly so when the device has a small width the nav stacks the links above one another */
@media only screen and (max-width: 1000px){
  .body{
    width:90%;
    font-size: 95%;
  }
  .mainHeader img{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%; 
  }
  .mainHeader nav{
    height: 240px;
  }

  .mainHeader nav ul{
    padding-left:0;

  }

  .mainHeader nav ul li{
    width:100%;
    text-align: center;
  }

  .mainHeader nav a:link, .mainHeader nav a:visited{
    padding: 10px 8px;
    height: 20px;
    display:block;
  }
  
  .mainContent {
    line-height: 30px;

  }

  .content{
    width: 100%;
    float:left;
    margin-top: 2%;

  }
  
  .post-info{
    display: none;
  }

  .topcontent{
    padding:3% 5%;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  
  .topcontentc{
    padding:3% 5%;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  
  .topContentc, .column{
    width: 100%;

  }
  .bottomcontent{
    margin-top: 2%
  }
  
  .top-sidebar, .middle-sidebar,.bottom-sidebar{
    width: 94%;
    margin: 2% 0 2% 0;
    padding: 2% 3%;
  }
  



}
